/*
  lb #60564A
*/

html {
  --FontColor: rgb(39, 39, 39);
  --LightFontColor: rgb(158, 158, 158);
  --BackLines: rgba(39, 39, 39, 0.5);
  --TitleColor: rgb(24, 61, 109);
  
  --LinkColor: rgb(34, 159, 255);
  --cdarkblue: rgb(55, 91, 129);

  --ReadableBackground: rgb(255, 255, 255);
  --FarBackground: #858585;
}

body {
  color: var(--FontColor);
  background-color: var(--FarBackground);
  font-family: 'Khula', sans-serif;
}

h1 {
  padding: 0px;
  margin: 0px;
  font-size: 24pt;
  color: var(--TitleColor);
}

h2 {
  margin: 0;
}

/* TITLE */

.mainTitle {
  margin-left: 2em;
  margin-top: 0.5em;
}

@media only screen and (max-width: 900px) {
  .mainTitle {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 650px) {
  .mainTitle {
    margin-left: 0.5em;
  }
}

@media only screen and (max-width: 500px) {
  .mainTitle {
    margin: 0.5em auto;
    text-align: center;
    font-size: 1.5em;
  }
}


/* NAV BAR */

a {
  font-weight: bold;
  display: inline;
  text-align: center;
}

nav {
  padding: 0;
  margin: 0;
  display: block;
}

nav a {
  font-size: 1.3em;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  padding-top: 0.25em;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  border-right: 1px var(--BackLines) solid;
}

@media only screen and (max-width: 900px) {
  nav a {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 650px) {
  nav a {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 500px) {
  nav a {
    font-size: 1em;
  }
}

@media only screen and (max-width: 350px) {
  nav a {
    font-size: auto;
  }
}

nav a:last-child {
  border-right: 0px black solid;
}

/* LINKS */

nav a:link, nav a:visited {
  color: var(--LinkColor);
  text-decoration: none;
}

/* BODY MAIN */

a:link {
  color: var(--LinkColor);
  text-decoration: none;
}

a:visited {
  color: var(--LinkColor);
  text-decoration: none;
}

nav a {
  color: var(--FontColor);
}

.block {
  padding: 10px;
}

/* /////////////// */

.main.block {
  background-color: var(--ReadableBackground);
  width: 50%;
  min-width: 600px;
  margin: 0 auto;
}

article {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;
}

.game {
  margin-left: 2em;
  margin-right: 2em;
}


@media only screen and (max-width: 900px) {
  .main.block {
    background-color: var(--ReadableBackground);
    width: 80%;
    min-width: 500px;
  }

  article {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
  }

  .game {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media only screen and (max-width: 500px) {
  .main.block {
    background-color: var(--ReadableBackground);
    width: auto;
    min-width: auto;
    margin: 0;
  }

  article {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
  }

  .game {
    margin-left: 0em;
    margin-right: 0em;
  }
}


.subtitle {
  font-size: 12pt;
  margin-left: 0.1em;
  margin-right: 0.1em; 
  display: inline-block;
  color: var(--LightFontColor);
}

video {
  width: 100%    !important;
  height: auto   !important;
  max-height: 240px;
}